<div class="divide-y  divide-solid divide-gray-100">
    <div class="w-full flex flex-row pl-4 items-center">
        <img src="../../assets/images/logo.svg" class="h-8" alt="">
        <div class="h-16 p-4"> <span class="mat-h2 text-gray-500 tracking-wide font-normal">Contacts</span>
        </div>
    </div>
    <mat-list>
        <div mat-subheader>Contacts</div>
        <mat-list-item matRipple class="hover:bg-gray-50 rounded-md" role="button">
            <mat-icon mat-list-icon color="primary">contacts</mat-icon>
            <div mat-line class="text-gray-900">Tous les contacts</div>
        </mat-list-item>
        <mat-list-item matRipple class="hover:bg-gray-50 rounded-md" role="button">
            <mat-icon mat-list-icon color="primary">folder_special</mat-icon>
            <div mat-line class="text-gray-900">Contacts favoris</div>
        </mat-list-item>
        <div mat-subheader>Intégrations</div>
        <mat-list-item matRipple class="hover:bg-gray-50 rounded-md mb-2" role="button">
            <img mat-list-icon class="h-4" src="../../../assets/images/google-logo.svg" alt="Google logo">
            <div mat-line class="text-gray-900">Google contacts</div>
        </mat-list-item>
    </mat-list>
    <div>
        <div class="mat-small text-gray-400 text-center w-full py-4">
            Version 1.0.0
        </div>
    </div>
</div>