<div class="py-4 border border-gray-100 px-16 w-1/2 relative top-1/2 bg-white transform -translate-y-2/4 rounded-md shadow-xl mx-auto">

    <div class="divide-y divide-solid divide-gray-100">
        <div>
            <div class="w-full  py-4">
                <img src="../assets/images/logo.svg" class="w-24 pb-4" alt="logo">
                <span class="mat-h2 text-gray-500 tracking-wide font-normal">Gestion des contacts</span>
            </div>

        </div>
        <div class="pt-2">
            <div>
                <p class="mat-h3 mat-h2 text-gray-600">Bienvenue sur <strong>ZORO Innovation Inc.</strong> Contact
                    Management Suit.
                    Votre outil de gestion des contacts moderne.
                </p>
            </div>
            <div class="flex mt-4 center-content">
                <div class=" flex flex-col items-center">
                    <img class="w-2/5 flex-box mb-4" src="../assets/images/authenticate.svg" alt="authenticate">
                    <p class="mat-small text-center">Veuillez vous authentifier</p>
                </div>
                <div class=" w-3/4 pl-2 " [formGroup]="loginForm">

                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input formControlName="username" matInput placeholder="my-awesome-psuedo">
                        <mat-icon color="accent" matPrefix>security</mat-icon>
                        <mat-error *ngIf="userNameIsRequiredError">Le nom d'utilisateur est <strong>requis</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="full flex flex-row">
                        <mat-form-field class="flex-1 mr-1 w-1/3" appearance="outline">
                            <mat-label>Mot de passe</mat-label>
                            <input formControlName="password" matInput placeholder="1234">
                            <mat-icon color="accent" matPrefix>lock</mat-icon>
                            <mat-error *ngIf="passwordIsRequiredError">Let mot de passe est <strong>requis</strong>
                            </mat-error>
                            <mat-error *ngIf="passwordMinLengthError">Au moins <strong>4 caratères</strong></mat-error>
                            
                        </mat-form-field>
        
                    </div>
                    <div class="flex flex-row w-full justify-end py-4"><button
                            [disabled]="!loginForm.valid" (click)="login()" mat-raised-button color="primary">Connexion</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <button class="box mr-4" mat-button routerLink="/sign-up" color="primary">S'INSCRIRE</button>
        </div>
    </div>
</div>